* {
  box-sizing: border-box;
}
html {
  overflow: overlay;
  overflow-x: hidden;
}

/*::-webkit-scrollbar {
  width: 5px;
  background: transparent;
  background-color: transparent;
  opacity: 0.2;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
}
::-webkit-scrollbar-thumb {
  background: #646464;
  border-radius: 10px;
  -webkit-box-shadow: none;
}*/
::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}
::-webkit-scrollbar-track {
  width: 0px;
}
::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
  opacity: 0;
}

@font-face {
  font-family: "Jura";
  src: url(../../fonts/static/Jura-Bold.ttf);
}
@font-face {
  font-family: "Do-Hyeon";
  src: url(../../fonts/Do_Hyeon/DoHyeon-Regular.ttf);
}
